<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <!-- CICLO V-FOR PER STAMPARE LE IMMAGINI e MOSTRARE L'IMMAGINE CON INDICE ATTIVO -->
                <div v-for="(itemSlide, i) in slides"
                class="item":class="activeImageIndex === i ? 'active' : ''"
                v-show="activeImageIndex === i">
                    <img :src="itemSlide.image" alt="">
                    <div class="text">
                        <h3>{{ itemSlide.title }}</h3>
                        <p>{{ itemSlide.text }}</p>
                    </div>
                </div>

                <div class="thumbs">
                    <!-- Richiamo le funzioni al click per avanzare e andare indietro con le slide -->
                    <div class="prev" @click="onPrevClick"></div>
                    <div class="next" @click="onNextClick"></div>
                    <!-- Ciclo che stampa le immagini nella Thumb -->
                    <div class="thumb" v-for="(itemSlide, i) in slides"
                    v-bind:class="(activeImageIndex === i ? 'active' : '')"
                    @click="onThumbClick(i)">
                        <img :src="itemSlide.image" alt="Svezia"/>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>